<div class="h-full overflow-auto flex justify-between p-5 gap-8 z-0">

  <!-- imagen de producto -->
  <div class="w-1/3">
    <div class="border border-1 border-gray-200 pl-6 pr-6 pb-6 rounded-lg shadow-sm ">
      <div class="border-b pt-3 pb-3 flex items-center">
      <p class="text-lg font-medium ">Imagen de producto</p>
      </div>
      <div class="mt-4">
        <div class="py-4">
          <img class="w-1/2" [src]="imagen_previsualiza" alt="Vista previa de la imagen" />
        </div>
      </div>
      <label class="font-semibold text-lg py-2 block">Subir imagen: (*)</label>

          <input
            type="file"
            class="form-input w-full px-4 py-2 text-sm border border-gray-300 rounded-md"
            id="customFile"
            accept=".jpeg, .bmp, .jpg, .png, .gif, .webp"
            (change)="processFile($event)"
          />

      <div class="mt-4 flex items-center">
        <i class="fa-regular fa-circle-question text-sm mr-2 "></i> <p>Necesitas una foto para poder crear tu producto*</p>
      </div>
    </div>

    <!-- Estado de producto -->
    <!-- <div class="border border-1 border-gray-200 p-5 rounded-lg shadow-sm mt-5">
        <div class="border-b p-2">
        <p class="text-lg font-medium">Estado de producto</p>
        </div>
        <div class="mt-4">
          <p>borrador o publico</p>
        </div>
        <div class="mt-4 flex items-center">
          <i class="fa-regular fa-circle-question text-sm mr-2 "></i> <p>Necesitas al menos 1 imagenes para poder publicar tu producto*</p>
        </div>
    </div> -->

  </div>


  <div class="w-2/3">
    <!-- categoria de producto -->
    <div class="border border-1 border-gray-200 pl-6 pr-6 pb-6 rounded-lg shadow-sm ">
      <div class="border-b pt-3 pb-3 flex justify-between">
        <div>
          <p class="text-lg font-medium">Categoría de producto</p>
        </div>
        <div (click)="openModal()" class="flex items-center cursor-pointer"><i class="fa-regular fa-plus text-sm mr-2 text-[#fc4d25]"></i> <p class="text-lg font-medium text-[#fc4d25]">Añadir categoría</p>
        </div>
      <div *ngIf="modalSwitch == true">
        <app-create-categorie></app-create-categorie>
      </div>
    </div>
      <div class="mt-4">
        <div class="flex gap-4">
          <div
            *ngFor="let item of categories_first"
            class="border rounded-lg p-4 w-1/4 flex flex-col items-center cursor-pointer transition hover:shadow-md"
            [ngClass]="{
              'border-[#fc4d25]': selectedCategoryId === item.id,
              'border-gray-300': selectedCategoryId !== item.id
            }"
            (click)="selectCategory(item.id)"

          >
            <i class="fa-regular fa-circle-check text-xl"></i>
            <span class="text-lg font-medium text-gray-700">{{ item.name }}</span>
            <span class="text-sm text-gray-500">{{ item.itemsCount }} items</span>
          </div>
        </div>
      </div>
      <div class="mt-4 flex items-center">
        <i class="fa-regular fa-circle-question text-sm mr-2"></i> <p class="text-sm">Necesitas al menos 1 imagenes para poder publicar tu producto*</p>
      </div>
    </div>

    <!-- aqui van los detalles de producto -->

    <div class="border border-1 border-gray-200 pl-6 pr-6 pb-6 rounded-lg shadow-sm mt-5 ">
      <div class="border-b pt-3 pb-3 flex justify-between">
      <p class="text-lg font-medium">Detalles de producto</p>
      </div>
    <div class="pt-2 flex justify-between gap-5">
      <div class="w-full">
        <label class="font-semibold text-sm py-2 block">Nombre de producto: (*)</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="title"
          class="form-input w-full px-4 py-2 text-sm border border-gray-300 rounded-md"
          placeholder="ejemplo: Perro caliente completo"
        />
      </div>
      <div class="w-full">
        <label class="font-semibold text-sm py-2 block">SKU: (*)</label>
        <input
          type="text"
          name="sku"
          [(ngModel)]="sku"
          class="form-input w-full px-4 py-2 text-sm border border-gray-300 rounded-md"
          placeholder="Ejemplo: ZDR456"
        />
      </div>
    </div>

    <div class="pt-4 flex gap-5">

      <div class="w-full">
       <label class="font-semibold text-sm py-2 block">Precio PESOS: (*)</label>
        <input
        type="number"
        name="price_pen"
        [(ngModel)]="price_pes"
        class="form-input w-full px-4 py-2 text-sm border border-gray-300 rounded-md"
        placeholder="Ejemplo: $20.000 COP"
       />
      </div>

      <div class="w-full ">
        <label class="font-semibold text-sm py-2 block">Marca: (*)</label>
        <select
          class="text-sm form-select w-full px-4 py-2 border border-gray-300 rounded-md"
          name="marca"
          [(ngModel)]="marca_id"
        >
          <option value="" >Seleccione</option>
          <ng-container *ngFor="let item of marcas">
            <option [value]="item.id">{{ item.name }}</option>
          </ng-container>
        </select>
      </div>
    </div>
    </div>

    <div class="border border-1 border-gray-200 pl-6 pr-6 pb-6 rounded-lg shadow-sm mt-5 ">
      <div class="border-b pt-3 pb-3 flex justify-between">
      <p class="text-lg font-medium">Resumen (Descripción del producto):</p>
      </div>
      <div class="w-full pt-5">
        <textarea class="text-sm border p-2 rounded-md form-control form-control-solid w-full disabled:bg-gray-200" rows="3"
        name="description" [(ngModel)]="description" placeholder="Hamburguesa de dos carnes de res de 60 gr con salsa bbq, queso americano..."></textarea>
      </div>


      <div class="pt-5">
        <button class="btn bg-[#fc4d25] rounded-lg p-2 text-[#fff] text-sm font-medium shadow-sm" (click)="save()">Crear producto</button>
      </div>

      <div class="mt-8 flex items-center">
        <i class="fa-regular fa-circle-question text-sm mr-2"></i> <p class="text-sm">Necesitas rellenar todos los campos para poder publicar tu producto*</p>
    </div>

  </div>
 </div>
</div>




<!-- <div class="h-full overflow-auto">
  Card body
  <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
  <div class="card-body border-t p-9">
    Título y SKU
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
      <div>
        <label class="font-semibold text-lg py-2 block">Título: (*)</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="title"
          class="form-input w-full px-4 py-2 text-lg border border-gray-300 rounded-md"
          placeholder="Por ejemplo: The best notebook collection 2023"
        />
      </div>
      <div>
        <label class="font-semibold text-lg py-2 block">SKU: (*)</label>
        <input
          type="text"
          name="sku"
          [(ngModel)]="sku"
          class="form-input w-full px-4 py-2 text-lg border border-gray-300 rounded-md"
          placeholder="Por ejemplo: ZDR456"
        />
      </div>
    </div>
    Precios
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-6">
      <div>
        <label class="font-semibold text-lg py-2 block">Precio PESOS: (*)</label>
        <input
          type="number"
          name="price_pen"
          [(ngModel)]="price_pes"
          class="form-input w-full px-4 py-2 text-lg border border-gray-300 rounded-md"
          placeholder="Por ejemplo: 20 PEN"
        />
      </div>
      <div>
        <label class="font-semibold text-lg py-2 block">Precio USD: (*)</label>
        <input
          type="number"
          name="price_usd"
          [(ngModel)]="price_usd"
          class="form-input w-full px-4 py-2 text-lg border border-gray-300 rounded-md"
          placeholder="Por ejemplo: 20 USD"
        />
      </div>
      <div>
        <label class="font-semibold text-lg py-2 block">Marca: (*)</label>
        <select
          class="form-select w-full px-4 py-2 border border-gray-300 rounded-md"
          name="marca"
          [(ngModel)]="marca_id"
        >
          <option value="">Seleccione</option>
          <ng-container *ngFor="let item of marcas">
            <option [value]="item.id">{{ item.name }}</option>
          </ng-container>
        </select>
      </div>
    </div>
    Categorías
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-6">
      <div>
        <label class="font-semibold text-lg py-2 block">Departamento: (Primer Nivel *)</label>
        <select
          class="form-select w-full px-4 py-2 border border-gray-300 rounded-md"
          name="departament"
          [(ngModel)]="categorie_first_id"
          (change)="changeDepartamento()"
        >
          <option value="">Seleccione</option>
          <ng-container *ngFor="let item of categories_first">
            <option [value]="item.id">{{ item.name }}</option>
          </ng-container>
        </select>
      </div>
      <div>
        <label class="font-semibold text-lg py-2 block">Categoría: (Segundo Nivel Opcional)</label>
        <select
          class="form-select w-full px-4 py-2 border border-gray-300 rounded-md"
          name="categorie"
          [(ngModel)]="categorie_second_id"
          (change)="changeCategorie()"
        >
          <option value="">Seleccione</option>
          <ng-container *ngFor="let item of categories_seconds_backups">
            <option [value]="item.id">{{ item.name }}</option>
          </ng-container>
        </select>
      </div>
      <div>
        <label class="font-semibold text-lg py-2 block">Subcategoría: (Tercer Nivel Opcional)</label>
        <select
          class="form-select w-full px-4 py-2 border border-gray-300 rounded-md"
          name="categorie"
          [(ngModel)]="categorie_third_id"
        >
          <option value="">Seleccione</option>
          <ng-container *ngFor="let item of categories_thirds_backups">
            <option [value]="item.id">{{ item.name }}</option>
          </ng-container>
        </select>
      </div>
    </div>
    Palabra y Etiquetas
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
      <div>
        <label class="font-semibold text-lg py-2 block">Palabra: (*)</label>
        <input
          type="text"
          name="word"
          (keyup.enter)="addItems()"
          [(ngModel)]="word"
          class="form-input w-full px-4 py-2 text-lg border border-gray-300 rounded-md"
          placeholder="Por ejemplo: XXXXX"
        />
      </div>

      <div *ngIf="!isShowMultiselect">
        <label class="font-semibold text-lg py-2 block">Etiquetas:</label>
        <ng-multiselect-dropdown
          [placeholder]="'Seleccionar Etiquetas'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    Imagen
    <div class="mb-6">
      <label class="font-semibold text-lg py-2 block">Sube tu imagen: (*)</label>
      <div>
        <input
          type="file"
          class="form-input w-full px-4 py-2 text-lg border border-gray-300 rounded-md"
          id="customFile"
          accept=".jpeg, .bmp, .jpg, .png, .gif, .webp"
          (change)="processFile($event)"
        />
        <label class="text-sm text-gray-500" for="customFile">Elige un archivo</label>
      </div>
      <div class="py-4">
        <img class="w-48" [src]="imagen_previsualiza" alt="Vista previa de la imagen" />
      </div>
    </div>
    Descripción y Resumen
    <div class="">
      <label class="font-semibold text-lg py-2 block">Descripción:</label>
      <ckeditor [data]="description" [config]="config" (change)="onChange($event)"></ckeditor>
    <div>

    <div>
        <div class="">
          <label class="font-semibold text-lg py-2 block">resumen:</label>
          <textarea class="form-control form-control-solid" rows="3"
          name="resumen" [(ngModel)]="resumen" placeholder="******"></textarea>
    <div>
    <div>

        <div >
              <button class="btn btn-primary" (click)="save()">Guardar</button>
        </div>
  -->
