<app-modal-url-plantilla></app-modal-url-plantilla>
<div class="bg-[#F5F5F4] flex items-center justify-between p-5">
  <div>
    <button class="bg-blue-500 text-white p-3 rounded-lg flex gap-2 " (click)="exportTemplate('plantilla-menu-2')">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round"
       stroke-linejoin="round" width="24" height="24" stroke-width="2">
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
        <path d="M9 12l2 2l4 -4"></path>
      </svg>
      Usar plantilla</button>
  </div>

  <div>
    <button type="button" class="text-white bg-[#FF9119] hover:bg-[#FF9119]/80 focus:ring-4 focus:outline-none
     focus:ring-[#FF9119]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center
      dark:hover:bg-[#FF9119]/80 dark:focus:ring-[#FF9119]/40 me-2 mb-2" (click)="navigateBack()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
        <path d="M11 7l-5 5l5 5"></path>
        <path d="M17 7l-5 5l5 5"></path>
      </svg>
      Ir atrás

      </button>
    </div>
</div>



<!-- Contenedor Principal -->
<div class="bg-gray-100">
  <!-- Header -->
  <header class="bg-gray-800 text-white flex justify-center text-center py-6">
    <img class="w-[60%] max-w-[250px] "
    src="{{avatar}}" alt="Logo" />
  </header>

  <!-- Navegación -->
  <div class="flex justify-center bg-white py-2 space-x-4">
    <ng-container *ngFor="let category of groupedCategories">
      <a *ngIf="category.products && category.products.length > 0"
         (click)="scrollToCategory(category.name)"
         class="cursor-pointer text-md font-semibold text-black/90 hover:underline">
        {{ category.name }}
      </a>
    </ng-container>
  </div>

  <!-- Contenedor del Menú -->
  <div class="max-w-screen-lg mx-auto p-6 bg-white rounded-lg shadow-lg mt-8">
    <div *ngFor="let category of groupedCategories">
      <section *ngIf="category.products.length > 0" id="{{ category.name }}" class="mb-12">
        <h2 class="text-3xl font-serif text-gray-800 text-center mb-6">{{ category.name }}</h2>
        <!-- Grid de Productos: 2 columnas en pantallas grandes, 1 columna en móviles -->
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          <div *ngFor="let product of category.products" class="bg-gray-200 rounded-lg p-6 flex items-center gap-6 transition-transform transform hover:translate-y-1">
            <img [src]="product.imagen ? 'http://localhost:8000/storage/' + product.imagen : 'assets/images/default-product-image.jpg'"
            alt="{{ product.title }}" class="w-24 h-24 object-cover rounded-lg">
            <div class="flex-1">
              <h3 class="text-xl font-serif text-gray-800">{{ product.title }}</h3>
              <p class="text-gray-600 text-sm">{{ product.description }}</p>
              <p class="mt-2 font-bold text-gray-800">${{ product.price_pes | number:'1.0-0' }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto px-4 text-center">
        <!-- Redes Sociales -->
        <div class="mb-4">
            <a href="{{fb}}" class="text-gray-400 hover:text-white mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="{{ins}}" class="text-gray-400 hover:text-white mx-2">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="{{tikTok}}" class="text-gray-400 hover:text-white mx-2">
              <i class="fa-brands fa-tiktok"></i>
            </a>
        </div>
        <!-- Información de Contacto -->
        <div class="text-gray-400">
            <p class="mb-2"><i class="fas fa-map-marker-alt mr-2"></i>{{addres}}</p>
            <p class="mb-2"><i class="fas fa-phone mr-2"></i>{{phone}}</p>

        </div>
        <!-- Copyright -->
        <div class="mt-4 text-gray-500">
            <p>&copy; 2025 Desarrollado con la tecnología de FoodLogic.</p>
        </div>
    </div>
</footer>

<!-- Include Font Awesome for icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</div>
