<div class="flex items-center bg-[#fffff] justify-around h-[80px]">
  <div>
    <img class="w-1/4" src="https://fu.do/assets/img/fudo_logo_color-15654b45.svg" alt="">
  </div>
  <div class="flex ">
    <div class="flex items-center">
    <ul class="flex space-x-5">
      <li><i class="fa-solid fa-magnifying-glass" style="color: #fc4d25;"></i></li>
      <li><i class="fa-regular fa-bell" style="color: #fc4d25;"></i></li>
    </ul>
    </div>
    <div class="flex ">
      <div class="flex justify-end">
        <img class="w-1/3 rounded-full border-gray-500 mr-5 " src="https://laravelui.spruko.com/tailwind/ynex/build/assets/images/faces/9.jpg" alt="">
      </div>
      <div>
        <p>Brayton mejia</p>
        <p>Administrador</p>
      </div>
    </div>
  </div>

</div>
