<div class="h-screen">
  <div>
    <span class="text-[22px] text-[#37394f] font-medium">ADMIN</span>
  </div>
  <div class="p-5 ">
    <ul class="space-y-3">
      <li class=" hover:bg-[#000] hover:text-[#fff] p-4 rounded text-black hover:text-white transition-colors duration-200">
        <i class="fa-solid fa-tv" ></i> Dashboard</li>
      <li class="text-[#000] hover:bg-[#000] hover:text-[#fff] p-4 rounded text-black hover:text-white transition-colors duration-200" routerLink="lista-plantillas">
        <i class="fa-regular fa-user"></i> Plantillas de menú</li>

        <li class="text-[#000] hover:bg-[#000] hover:text-[#fff] p-4 rounded text-black hover:text-white transition-colors duration-200 " routerLink="crear-categorias">
          <i class="fa-solid fa-list" ></i> Crear categoria</li>

          <li class="text-[#000] hover:bg-[#000] hover:text-[#fff] p-4 rounded text-black hover:text-white transition-colors duration-200 " routerLink="crear-producto">
            <i class="fa-solid fa-list" ></i> Crear producto</li>

          <li class="text-[#000] hover:bg-[#000] hover:text-[#fff] p-4 rounded text-black hover:text-white transition-colors duration-200 " routerLink="atributos/list">
            <i class="fa-solid fa-list" ></i> atributos</li>
    </ul>
  </div>
  <div>
    <span class="text-[22px] text-[#37394f] font-medium">BLOG</span>
  </div>
  <div class="p-5">
    <ul class="space-y-3">
      <li class="text-[#000] hover:bg-[#000] hover:text-[#fff] p-4 rounded">Post</li>
      <li class="text-[#000] hover:bg-[#000] hover:text-[#fff] p-4 rounded">Archive</li>
    </ul>
  </div>
  <div>
    <span class="text-[22px] text-[#37394f] font-medium">PERSONAL</span>
  </div>
  <div class="p-5">
    <ul class="space-y-3">
      <li class="text-[#000] hover:bg-[#000] hover:text-[#fff] p-4 rounded">Notificaciones</li>
      <li class="text-[#000] hover:bg-[#000] hover:text-[#fff] p-4 rounded">Mensajes</li>
    </ul>
  </div>
</div>
