<div class="h-full flex flex-col lg:flex-row p-5 gap-8 z-0">
  <!-- Imagen de producto -->
  <div class="w-full lg:w-1/3">
    <div class="border border-gray-200 p-6 rounded-lg shadow-sm">
      <div class="border-b py-3 flex items-center">
        <p class="text-lg font-medium">Imagen de producto</p>
      </div>
      <div class="mt-4">
        <div class="py-4 flex justify-center">
          <img class="w-full lg:w-1/2" [src]="imagen_previsualiza" alt="Vista previa de la imagen" />
        </div>
      </div>
      <label class="font-semibold text-lg py-2 block">Subir imagen: (*)</label>
      <input
        type="file"
        class="form-input w-full px-4 py-2 text-sm border border-gray-300 rounded-md"
        id="customFile"
        accept=".jpeg, .bmp, .jpg, .png, .gif, .webp"
        (change)="processFile($event)"
      />
      <div class="mt-4 flex items-center">
        <i class="fa-regular fa-circle-question text-sm mr-2"></i>
        <p class="text-sm">Necesitas una foto para poder crear tu producto*</p>
      </div>
    </div>
  </div>

  <!-- Categoría de producto -->
  <div class="w-full lg:w-2/3">

    <div class="border border-gray-200 p-6 rounded-lg shadow-sm">
      <div class="border-b py-3 flex justify-between">
        <p class="text-lg font-medium">Categoría de producto</p>

      </div>

      <div class="mt-4 w-auto">
        <!-- Contenedor con flexbox para que los elementos se ajusten al tamaño de pantalla -->
        <div class="flex gap-4 overflow-auto scrollbar-thin scrollbar-thumb-[#383B3E] scrollbar-track-gray-100">
          <div
            *ngFor="let item of categories_first "

            class="border rounded-lg p-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 flex-shrink-0 flex flex-col items-center cursor-pointer transition hover:shadow-md mb-5"
            [ngClass]="{
              'border-[#fc4d25]': categorie_first_id === item.id,
              'border-gray-300': categorie_first_id !== item.id
            }"
            (click)="selectCategory(item.id)"
          >
            <i class="fa-regular fa-circle-check text-xl"></i>
            <span class="text-lg font-medium text-gray-700">{{ item.name }}</span>
            <span class="text-sm text-gray-500">{{ item.itemsCount }} items</span>
          </div>
        </div>
      </div>


      <div class="mt-4 flex items-center">
        <i class="fa-regular fa-circle-question text-sm mr-2"></i>
        <p class="text-sm">Necesitas al menos 1 categoría para poder publicar tu producto*</p>
      </div>
    </div>

    <!-- Detalles de producto -->
    <div class="border border-gray-200 p-6 rounded-lg shadow-sm mt-5">
      <div class="border-b py-3 flex justify-between">
        <p class="text-lg font-medium">Detalles de producto</p>
      </div>
      <div class="pt-2 flex flex-col lg:flex-row gap-5">
        <div class="w-full lg:w-1/2">
          <label class="font-semibold text-sm py-2 block">Nombre de producto: (*)</label>
          <input
            type="text"
            name="title"
            [(ngModel)]="title"
            class="form-input w-full px-4 py-2 text-sm border border-gray-300 rounded-md"
            placeholder="ejemplo: Perro caliente completo"
          />
        </div>
        <div class="w-full lg:w-1/2">
          <label class="font-semibold text-sm py-2 block">SKU: (*)</label>
          <input
            type="text"
            name="sku"
            [(ngModel)]="sku"
            class="form-input w-full px-4 py-2 text-sm border border-gray-300 rounded-md"
            placeholder="Ejemplo: ZDR456"
          />
        </div>
      </div>

      <div class="pt-4 flex flex-col lg:flex-row gap-5">
        <div class="w-full lg:w-1/2">
          <label class="font-semibold text-sm py-2 block">Precio PESOS: (*)</label>
          <input
            type="number"
            name="price_pen"
            [(ngModel)]="price_pes"
            class="form-input w-full px-4 py-2 text-sm border border-gray-300 rounded-md"
            placeholder="Ejemplo: $20.000 COP"
          />
        </div>
        <div class="w-full lg:w-1/2">
          <label class="font-semibold text-sm py-2 block">Marca: (*)</label>
          <select
            class="text-sm form-select w-full px-4 py-2 border border-gray-300 rounded-md"
            name="marca"
            [(ngModel)]="marca_id"
          >
            <option value="">Seleccione</option>
            <ng-container *ngFor="let item of marcas">
              <option [value]="item.id">{{ item.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>

    <!-- Resumen (Descripción del producto) -->
    <div class="border border-gray-200 p-6 rounded-lg shadow-sm mt-5">
      <div class="border-b py-3">
        <p class="text-lg font-medium">Resumen (Descripción del producto):</p>
      </div>
      <div class="w-full pt-5">
        <textarea
          class="text-sm border p-2 rounded-md form-control w-full"
          rows="3"
          name="description"
          [(ngModel)]="description"
          placeholder="Hamburguesa de dos carnes de res de 60 gr con salsa bbq, queso americano..."
        ></textarea>
      </div>
      <div class="pt-5">
        <button
          class="btn bg-[#fc4d25] rounded-lg p-2 text-white text-sm font-medium shadow-sm"
          (click)="save()"
        >
          Actualizar producto
        </button>
      </div>
      <div class="mt-8 flex items-center">
        <i class="fa-regular fa-circle-question text-sm mr-2"></i>
        <p class="text-sm">Necesitas rellenar todos los campos para poder publicar tu producto*</p>
      </div>
    </div>
  </div>
</div>
